In [1]:
#Q.1) Convert given hrs & mins in second

In [6]:
time = float(input("Input time in Seconds:"))
time=time%(24*3600)
hour=time//3600
time%=3600
minutes=time//60
time%=60
seconds=time
print("h:m:s->%d:%d:%d"%(hour,minutes,seconds))

Input time in Seconds:3600
h:m:s->1:0:0

In [7]:
#Q.2) Write code to find the average of ‘n’numbers entered by the user to function avg ( ).
#Ex: avg (10, 20, 30, 40) => average is: 70
#avg (5, 10, 15) => average is: 10

In [23]:
def cal_average(num):
  sum_num = 0
  for t in num:
    sum_num = sum_num + t
  avg = sum_num/len(num)
  return avg
print("The average is: ",cal_average([5,10,15]))

The average is:  10.0

In [ ]:
#4) Write a code to accept a number & printin words.
#Ex: 123
#Three
#Two
#One

In [39]:
def printValue(digit):
  if digit == "1":
    print("One", end=" ")
  elif digit == "2":
    print("Two",end=" ")
  elif digit == "3":
    print("Three",end=" ")
def printWord(N):
      i = 0
      length = len(N)
      while i < length:
        printValue(N[i])
        i+=1
N="123"
printWord(N)

One Two Three

In [17]:
###3)
#Print
#1
#0 1
#0 1 0
#1 0 1 0
#1 0 1 0 1

In [ ]:
#10) Create menu driven code for
#1) Accept 2 numbers
#2) Add
#3) Sub
#4) Mul
#5) Div
#6)Exit

In [35]:
while True:
  a=input(print("1.Accept numbers\n2.Add\n3.Sub\n4.Mul\n5.Div\n6.Exit"))
  if a=='1':
    b=int(input("Enter 1St Number:"))
    c=int(input("Enter 2nd Number:"))
    elif a=='2':
      print("Addition of",b,'and',c,'is',b+c)
    elif a=='3':
      print("Subtraction of",b,'and',c,'is',b-c)
    elif a=='4':
      print("Multiplication of",b,'and',c,'is',b*c)
    elif a=='5':
      print("Division of",b,'and',c,'is',b/c)
    elif a=='6':
      print("Exit")
      break

SyntaxError: ignored

In [32]:
#7)Convert Paise in Rupees &
#Paises
E#x: 350 is 3 Rupees 50 Paise
#3.50 print Rupees: 3
#Paise: 50

SyntaxError: ignored

In [34]:
paise = 100
rs = int(input("Enter amount in rupees:"))
result = rs * paise
print(f"{result}paise")

Enter amount in rupees:350
35000paise

In [41]:
#8)pattern

In [26]:
n=5
a=1
for i in range (1,n+1):
  for j in range(1, i+1):
    print(a, end=" ")
  if i == 1 or i == 2:
      a+=2
  else:
      a+=1
  print()

1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

In [5]:
#6)Q.6) Read file & count numbers of digit
#alphabets & symbols

In [13]:
string = input("Enter numbers and digits")
alphabets = digits = special = 0
for i in range(len(string)):
  if(string[i].isalpha()):
    alphabets=alphabets+1
  elif(string[i].isdigit()):
      digits=digits+1
  else:
    special = special + 1
print("Total Number of Alphabets in the String:",alphabets)
print("Total Number of Digits in this string:",digits)
print("Total Number of Special characters in this string:",special)

Enter numbers and digits541651@43
Total Number of Alphabets in the String: 0
Total Number of Digits in this string: 8
Total Number of Special characters in this string: 1

In [15]:
#Q.5) Create class

In [22]:
class Math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Sub(self):
    return self.a-self.b
  def Mul(self):
    return self.a*self.b
  def Div(self):
    return self.a/self.b